<p><label for="auto_generate"><%= l(:'redmine_ai_summary.settings.auto_generate') %></label>
<%= check_box_tag 'settings[auto_generate]', '1', Setting.plugin_redmine_ai_summary['auto_generate'] %></p>

<p><label for="api_address"><%= l(:'redmine_ai_summary.settings.api_address') %></label>
<%= text_field_tag 'settings[api_address]', Setting.plugin_redmine_ai_summary['api_address'] %></p>

<p><label for="api_key"><%= l(:'redmine_ai_summary.settings.api_key') %></label>
<%= text_field_tag 'settings[api_key]', Setting.plugin_redmine_ai_summary['api_key'] %></p>