<% summary = @issue.issue_summary %>
<div id="issue-summary" data-status="<%= summary&.status || 'new' %>">
  <hr />
  <div class="description">
    <div class="contextual">
      <% if User.current.allowed_to?(:generate_issue_summary, @issue.project) %>
        <%= link_to t('redmine_ai_summary.buttons.generate_summary'),
            issue_ai_summaries_path(@issue),
            method: :post,
            remote: true,
            class: 'icon icon-summary',
            id: 'generate-summary-button',
            disabled: summary&.status == 'generating',
            data: { confirm: t('redmine_ai_summary.text.are_you_sure_generate_summary') } %>
      <% end %>
    </div>
    <p>
      <strong><%= t('redmine_ai_summary.labels.issue_summary') %></strong>
      <% if summary&.status == 'generating' %>
        <small class="generating-text"><%= t('redmine_ai_summary.text.generating_summary') %></small>
      <% elsif summary&.up_to_date? && !summary&.recent? %>
        <small class="generating-text"><%= t('redmine_ai_summary.text.summary_is_old') %></small>
      <% end %>
    </p>

    <% if summary&.summary.present? %>
      <div class="wiki <%= 'summary-generating' if summary.status == 'generating' %>">
        <% if summary.status == 'stale' %>
          <div class="warning">
            <%= t('redmine_ai_summary.text.summary_is_stale') %>
            <%= link_to t('redmine_ai_summary.buttons.regenerate'), issue_ai_summaries_path(@issue), method: :post, remote: true, class: 'icon icon-summary', id: 'generate-summary-button' %>
          </div>
        <% end %>
        <%= textilizable summary.summary %>
        <p><small>
          <% if summary.updated_by.present? %>
            <%= t('redmine_ai_summary.labels.updated_by_on', name: summary.updater&.name, date: summary.updated_at&.strftime('%Y-%m-%d %H:%M')) %>
          <% else %>
            <%= t('redmine_ai_summary.labels.created_by_on', name: summary.creator&.name, date: summary.created_at&.strftime('%Y-%m-%d %H:%M')) %>
          <% end %>
        </small></p>
      </div>
    <% else %>
      <% if summary&.status != 'generating' %>
        <p><%= t('redmine_ai_summary.text.no_summary_available') %></p>
      <% end %>
    <% end %>
  </div>
</div>